<html>

<head>
    <title>ShowDown</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
</head>

<body>
    <div id="ground">
        <div id="ground-1">
            <div id="player">
                <h2>Player</h2>
                <p>{{playerHealth}}</p>
                <div class="parentbar">
                    <div class="health" :style="{width: playerHealth + '%'}"></div>
                </div>
            </div>
            <div id="cpu">
                <h2>CPU</h2>
                <p>{{cpuHealth}}</p>
                <div class="parentbar">
                    <div class="health" :style="{width: cpuHealth + '%'}"></div>
                </div>
            </div>
        </div>
        <div id="ground-2">
            <div id="menu1" v-if="!gameStatus">
                <button @click="begin">New Game</button>
            </div>
            <div id="menu2" v-else>
                <button @click="attack">Attack</button>
                <button @click="spl">Special Move</button>
                <button @click="heal">Heal</button>
                <button @click="quit">Quit</button>
            </div>
        </div>
        <div id="ground-3">
            <ul>
                <li v-for="note in comments">{{note.text}}</li>
            </ul>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
