#ground-1{
    display: flex;
    flex-direction: row;
}

#player,#cpu,#menu{
    margin: 0 auto;
    text-align: center;
}

#menu{
    margin-top: 20px;
}

.parentbar{
    width: 100px;
    height: 30px;
    border: 1px solid black;
}
.health{
    height: 30px;
    background-color: limegreen;
}
