html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

#ground-1 {
    display: flex;
    flex-direction: row;
}

#player,
#cpu,
#menu1,
#menu2 {
    margin: 0 auto;
    text-align: center;
}

#menu1,
#menu2 {
    margin-top: 20px;
}

.parentbar {
    width: 100px;
    height: 30px;
    border: 1px solid black;
}

.health {
    height: 30px;
    background: #56ab2f;
    background: -webkit-linear-gradient(to right, #56ab2f, #a8e063);
    background: linear-gradient(to right, #56ab2f, #a8e063);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

button {
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:focus {
    outline: none;
}

.hvr-shutter-in-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #2f80ed;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-shutter-in-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e1e1e1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
    color: white;
}

.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

#btn00 {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}

#btn01 {
    margin-top: 20px;
    width: 100px;
    height: 20px;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

.btn {
    width: 120px;
    height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 20px;
    color: white;
}

#btn04 {
    background-color: #45B649;
}

#btn03 {
    background-color: #C33764;
}

#btn02{
    background-color: #ef473a;
}

#btn05{
    background-color: #859398;
}

#rules>ul{
    list-style: none;
    font-size: 0.7em;
}

#rules>ul>li{
    margin: 10px;
    text-align: center;
    color: darkgrey;
}

.cpucom{
    list-style: none;
    text-align: center;
    color: red;
}

.usrcom{
    list-style: none;
    text-align: center;
    color: green;
    margin-bottom: 10px;
}

#title{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    color: orangered;
}